### General

- Use yarn instead of npm

### Next.js
- We use /app directory instead of /src

### Middleware
- Use import { clerkMiddleware, createRouteMatcher } from '@clerk/nextjs/server' instead of '@clerk/nextjs'

### Code Architecture Patterns
- Frontend uses contexts, contexts interact with routes, routes utilize services, services interact with prisma. 
- Services are in the /services directory, contexts are in the /contexts directory, routes are in the /app/api/v1/ directory. 

### clerk
- access to the auth object with clerk uses '@clerk/nextjs/server'
- const { userId }: { userId: string | null } = await auth()